nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.25rem 2rem;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav ul:nth-child(2) {
  position: relative;
  justify-content: end;
  width: 60%;
}
nav ul:nth-child(2) img {
  cursor: pointer;
}
a {
  text-decoration: none;
  position: relative;
  color: var(--Dark_grayish_blue);
  padding: 2rem 0;
  font-size: clamp(12px, 1.5vw, 15px);
}
a::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  background-color: var(--Orange);
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
a:hover {
  color: var(--Very_dark_blue);
}
a:hover::after {
  width: 100%;
}
#logo {
  width: clamp(8rem, 12vw, 10rem);
}
.burgLogo {
  display: flex;
  gap: 1rem;
}

#profileIcon {
  width: clamp(30px, 4vw, 50px);
  transition: none;
}
#profileIcon:hover {
  outline: 3px solid var(--Orange);
  border-radius: 50%;
}
#burguer,
#close {
  display: none;
}
hr {
  opacity: 0.3;
}
.notif {
  position: absolute;
  top: -8px;
  left: 10px;
  background-color: var(--Orange);
  padding: 1px 5px;
  font-size: 8px;
  border-radius: 50%;
  color: var(--White);
}

@media (max-width: 700px) {
  #burguer,
  #close {
    cursor: pointer;
    padding: 8px;
  }
  nav a {
    padding: 0.3rem;
    color: var(--Black);
  }
  nav {
    padding: 0;
    position: fixed;
    height: 50px;
    z-index: 1;
    width: 100%;
    background-color: white;
  }
  nav ul:nth-child(1) {
    flex-direction: column;
    background-color: var(--White);
    height: 100vh;
    padding: 10px;
    width: 33.33%;
    align-items: start;
    font-weight: 600;
  }
  nav ul:nth-child(2) {
    padding: 1rem;
  }
  .burgLogo {
    margin: 0 0 3rem 0;
  }
  hr {
    display: none;
  }
  #logo {
    display: none;
  }
}
