.shop-area {
  position: relative;
}
.shop-area img:hover {
  transform: scale(1.1);
}
.shop-box {
  width: 250px;
  height: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1.5rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.shop-box h3 {
  color: black;
  padding: 0.25rem 0;
}
.shop-box p {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: grey;
}
